.myNavbar{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    div input{
        width: 0;
        height: 0;
        opacity: 0;
    }
}
.profile-img{
    position: relative;
}
.hidden-profile{
    display: none;

}
.profile-img:hover .hidden-profile{
    display: block;
    position: absolute;
    
    z-index: 2;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}
.profile-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
